{% extends 'base1.html' %}
{% load static %}
{% load ratings %}

{% block head %}

{% endblock %}

{% block body %}
<div id="container">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/"><i class="fa fa-home"></i></a></li>
            <li><a href="{% url 'blog:blog' %}">وبلاگ</a></li>
        </ul>
        <div class="row">
            <!-- Left Part Start-->
            {% include 'include/blog-side.html' %}
            <!-- Left Part End-->
            <div id="content" class="col-sm-9">
                <div class="blog-post-area">
                    {% for blog in page_obj %}
                    <div class="single-blog-post">
                        <h3>{{ blog.title }}</h3>
                        <div class="post-meta">
                            <ul>
                                <li><i class="fa fa-user"></i> {{ blog.composer }}</li>
                                <li><i class="fa fa-clock-o"></i> {{ blog.jalali_time }}</li>
                                <li><i class="fa fa-calendar"></i> {{ blog.jalali_date }}</li>
                            </ul>

                        </div>
                        {% ratings blog read_only=True %}

                        <a href="">
                            <img src="{{ blog.blog_image.url }}" alt="">
                        </a>
                        <p>
                            {{ blog.short_desc }}
                        </p>
                        <a class="btn btn-primary" href="{% url 'blog:blog-detail' pk=blog.id %}">ادامـه مطلب</a>
                    </div>
                    {% endfor %}
                    <div class="pagination-area">
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page=1">اولین</a></li>
                            <!-- <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">قبلی</a></li> -->
                            <li class="page-item"><a class="page-link"
                                    href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                            </li>
                            {% endif %}
                            <li class="page-item"><a class="page-link">{{ page_obj.number }}</a></li>
                            {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link"
                                    href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                            </li>
                            <!-- <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">بعدی</a></li> -->
                            <li class="page-item"><a class="page-link"
                                    href="?page={{ page_obj.paginator.num_pages }}">آخرین</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}