{% extends "base1.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% load i18n %}
<!-- {% load account socialaccount %} -->

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}


<div class="wrapper-wide">
  <div id="container">
    <div class="container">
      <!-- Breadcrumb Start-->
      <ul class="breadcrumb">
        <li><a href="{% url 'product:home' %}"><i class="fa fa-home"></i></a></li>
        <li><a href="{% url 'account_login' %}">حساب کاربری</a></li>
        <li><a href="{% url 'account_login' %}">ورود</a></li>
      </ul>
      <!-- Breadcrumb End-->
      <div class="row">
        <!--Middle Part Start-->
        <div id="content" class="col-sm-9">
          <h1 class="title">حساب کاربری ورود</h1>
          <div class="row">
            <div class="col-sm-6">
              <h2 class="subtitle">مشتری جدید</h2>
              <p><strong>ثبت نام حساب کاربری</strong></p>
              <p>با ایجاد حساب کاربری میتوانید سریعتر خرید کرده، از وضعیت خرید خود آگاه شده و تاریخچه ی سفارشات خود را مشاهده کنید.</p>
              <a href="{% url 'account_signup' %}" class="btn btn-primary">ادامه</a> </div>
            <div class="col-sm-6">
              <h2 class="subtitle">مشتری قبلی</h2>
              <p><strong>من از قبل مشتری شما هستم</strong></p>
              <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                <!-- {{ form | crispy }} -->
                {{ form.login | as_crispy_field }}
                {{ form.password | as_crispy_field }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <a class="button secondaryAction" href="{% url 'account_reset_password' %}">فراموشی رمز عبور ؟</a>
                <button class="btn btn-primary" type="submit">ورود</button>
              </form>
              </div>
          </div>
        </div>
        <!--Middle Part End -->
        <!--Right Part Start -->
        <aside id="column-right" class="col-sm-3 hidden-xs" style="margin-top: 58px;">
          <h3 class="subtitle">حساب کاربری</h3>
          <div class="list-group">
            <ul class="list-item">
              <li><a href="{% url 'account_login' %}">ورود</a></li>
              <li><a href="{% url 'account_signup' %}">ثبت نام</a></li>
              <li><a href="{% url 'account_reset_password' %}">فراموشی رمز عبور</a></li>
              <li><a href="#">حساب کاربری</a></li>
              <li><a href="#">لیست آدرس ها</a></li>
              <li><a href="wishlist.html">لیست علاقه مندی</a></li>
              <li><a href="#">تاریخچه سفارشات</a></li>
              <li><a href="#">دانلود ها</a></li>
              <li><a href="#">امتیازات خرید</a></li>
              <li><a href="#">بازگشت</a></li>
              <li><a href="#">تراکنش ها</a></li>
              <li><a href="#">خبرنامه</a></li>
              <li><a href="#">پرداخت های تکرار شونده</a></li>
            </ul>
          </div>
        </aside>
        <!--Right Part End -->
      </div>
    </div>
  </div>
</div>

{% endblock %}
