{% extends "base1.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="container">
    <h1>{% trans "بازیابی رمز عبور" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}یک ایمیل برای شما ارسال شده است . چنانچه ظرف چند دقیقه آینده ایمیلی دریافت نکردید با به ما اطلاع دهید.{% endblocktrans %}</p>
</div>
{% endblock %}
