{% extends "base1.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="container">
<div class="col-md-6">
    <h1>{% trans "بازیابی رمز عبور" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "رمز عبور خود را فراموش کرده اید؟ نشانی ایمیل خود را در کادر زیر وارد کنید. ایمیلی حاوی لینک بازیابی برای شما ارسال خواهد شد." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form | crispy }}
        <input type="submit" class="btn btn-primary" value="{% trans 'بازیابی رمز عبور' %}" />
    </form>
    <br><br>
    <p>{% blocktrans %}لطفا در صورت هرگونه اشکال در عملیات بازیابی رمز عبور با ما تماس بگیرید.{% endblocktrans %}</p>
</div>
</div>
{% endblock %}

