<!-- Left Part Start-->
<aside id="column-left" class="col-sm-3 hidden-xs">
    <h3 class="subtitle">دسته ها</h3>
    <div class="box-category">
        <ul id="cat_accordion">
        <li><a href="{% url 'product:products' %}">محصولات کشاورزی</a> <span class="down"></span>
            <ul>
            <li><a href="category.html">آقایان</a> <span class="down"></span>
                <ul>
                <li><a href="category.html">زیردسته ها</a></li>
                <li><a href="category.html">زیردسته ها</a></li>
                <li><a href="category.html">زیردسته ها</a></li>
                <li><a href="category.html">زیردسته ها</a></li>
                <li><a href="category.html">زیردسته جدید</a></li>
                </ul>
            </li>
            <li><a href="category.html">بانوان</a></li>
            <li><a href="category.html">دخترانه</a> <span class="down"></span>
                <ul>
                <li><a href="category.html">زیردسته ها</a></li>
                <li><a href="category.html">زیردسته جدید</a></li>
                <li><a href="category.html">زیردسته جدید</a></li>
                </ul>
            </li>
            <li><a href="category.html">پسرانه</a></li>
            <li><a href="category.html">نوزاد</a></li>
            <li><a href="category.html">لوازم</a> <span class="down"></span>
                <ul>
                <li><a href="category.html">زیردسته های جدید</a></li>
                </ul>
            </li>
            </ul>
        </li>
        <li><a href="category.html">الکترونیکی</a> <span class="down"></span>
            <ul>
            <li><a href="category.html">لپ تاپ</a> <span class="down"></span>
                <ul>
                <li><a href="category.html">زیردسته های جدید</a></li>
                <li><a href="category.html">زیردسته های جدید</a></li>
                <li><a href="category.html">زیردسته جدید</a></li>
                </ul>
            </li>
            <li class="custom_id68"><a href="category.html">رومیزی</a> <span class="down"></span>
                <ul>
                <li><a href="category.html">زیردسته های جدید</a></li>
                <li><a href="category.html">زیردسته جدید</a></li>
                <li><a href="category.html">زیردسته جدید</a></li>
                </ul>
            </li>
            <li><a href="category.html">دوربین</a> <span class="down"></span>
                <ul>
                <li><a href="category.html">زیردسته های جدید</a></li>
                </ul>
            </li>
            <li><a href="category.html">موبایل و تبلت</a> <span class="down"></span>
                <ul>
                <li><a href="category.html">زیردسته های جدید</a></li>
                <li><a href="category.html">زیردسته های جدید</a></li>
                </ul>
            </li>
            <li><a href="category.html">صوتی و تصویری</a> <span class="down"></span>
                <ul>
                <li><a href="category.html">زیردسته های جدید</a></li>
                <li><a href="category.html">زیردسته جدید</a></li>
                </ul>
            </li>
            <li><a href="category.html">لوازم خانگی</a></li>
            </ul>
        </li>
        <li><a href="category.html">کفش</a> <span class="down"></span>
            <ul>
            <li><a href="category.html">آقایان</a></li>
            <li><a href="category.html">بانوان</a> <span class="down"></span>
                <ul>
                <li><a href="category.html">زیردسته های جدید</a></li>
                <li><a href="category.html">زیردسته ها</a></li>
                </ul>
            </li>
            <li><a href="category.html">دخترانه</a></li>
            <li><a href="category.html">پسرانه</a></li>
            <li><a href="category.html">نوزاد</a></li>
            <li><a href="category.html">لوازم</a><span class="down"></span>
                <ul>
                <li><a href="category.html">زیردسته های جدید</a></li>
                <li><a href="category.html">زیردسته های جدید</a></li>
                <li><a href="category.html">زیردسته ها</a></li>
                </ul>
            </li>
            </ul>
        </li>
        <li><a href="category.html">ساعت</a> <span class="down"></span>
            <ul>
            <li><a href="category.html">ساعت مردانه</a></li>
            <li><a href="category.html">ساعت زنانه</a></li>
            <li><a href="category.html">ساعت بچگانه</a></li>
            <li><a href="category.html">لوازم</a></li>
            </ul>
        </li>
        </ul>
    </div>
    <h3 class="subtitle">پرفروش ها</h3>
    <div class="side-item">
        <div class="product-thumb clearfix">
        <div class="image"><a href="product.html"><img src="static/image/product/apple_cinema_30-50x50.jpg" alt="تی شرت کتان مردانه" title="تی شرت کتان مردانه" class="img-responsive" /></a></div>
        <div class="caption">
            <h4><a href="product.html">تی شرت کتان مردانه</a></h4>
            <p class="price"><span class="price-new">110000 تومان</span> <span class="price-old">122000 تومان</span> <span class="saving">-10%</span></p>
        </div>
        </div>
    </div>
    <h3 class="subtitle">ویژه</h3>
    <div class="side-item">
        <div class="product-thumb clearfix">
        <div class="image"><a href="product.html"><img src="static/image/product/macbook_pro_1-50x50.jpg" alt=" کتاب آموزش باغبانی " title=" کتاب آموزش باغبانی " class="img-responsive" /></a></div>
        <div class="caption">
            <h4><a href="product.html">کتاب آموزش باغبانی</a></h4>
            <p class="price"> <span class="price-new">98000 تومان</span> <span class="price-old">120000 تومان</span> <span class="saving">-26%</span> </p>
        </div>
        </div>
    </div>
    <div class="list-group">
        <h3 class="subtitle">محتوای سفارشی</h3>
        <p>این یک بلاک محتواست. هر نوع محتوایی شامل html، نوشته یا تصویر را میتوانید در آن قرار دهید. </p>
        <p> در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد. </p>
        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
    </div>
    <div class="banner owl-carousel">
        <div class="item"> <a href="#"><img src="static/image/banner/small-banner1-265x350.jpg" alt="small banner" class="img-responsive" /></a> </div>
        <div class="item"> <a href="#"><img src="static/image/banner/small-banner-265x350.jpg" alt="small banner1" class="img-responsive" /></a> </div>
    </div>
    <h3 class="subtitle">جدیدترین</h3>
    <div class="side-item">
        <div class="product-thumb clearfix">
        <div class="image"><a href="product.html"><img src="static/image/product/iphone_6-50x50.jpg" alt="کرم مو آقایان" title="کرم مو آقایان" class="img-responsive" /></a></div>
        <div class="caption">
            <h4><a href="product.html">کرم مو آقایان</a></h4>
            <p class="price"> 42300 تومان </p>
            <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
        </div>
        </div>
    </div>
    </aside>
    <!-- Left Part End-->