<!-- Left Part Start-->
<aside id="column-left" class="col-sm-3 hidden-xs">
    <h3 class="subtitle">دسته ها</h3>
    <div class="box-category">
        <ul id="cat_accordion">
        {% for category in categories %}
        <li><a href="{% url 'product:category' pk=category.id %}">{{ category.title }}</a> <span class="down" ></span>
            <ul>
            {% for sub in category.subcategory.all %}
            <li><a href="{% url 'product:subcategory' pk=sub.id %}">{{ sub.title }}</a></li>
            {% endfor %}
            </ul>
        </li>
        {% endfor %}
        </ul>
    </div>
    <h3 class="subtitle">پرفروش ها</h3>
    <div class="side-item">
        <div class="product-thumb clearfix">
        <div class="image"><a href="product.html"><img src="static/image/product/apple_cinema_30-50x50.jpg" alt="تی شرت کتان مردانه" title="تی شرت کتان مردانه" class="img-responsive" /></a></div>
        <div class="caption">
            <h4><a href="product.html">تی شرت کتان مردانه</a></h4>
            <p class="price"><span class="price-new">110000 تومان</span> <span class="price-old">122000 تومان</span> <span class="saving">-10%</span></p>
        </div>
        </div>
    </div>
    <h3 class="subtitle">ویژه</h3>
    <div class="side-item">
        {% for product in products %}
        {% if product.featured %}
        <div class="product-thumb clearfix">
          <div class="image"><a href="/product/{{ product.id }}"><img src="{{product.miniimage.url}}" alt="تی شرت کتان مردانه" title="تی شرت کتان مردانه" class="img-responsive" /></a></div>
          <div class="caption">
            <h4><a href="/product/{{ product.id }}"> کد محصول : {{product.id}} </a></h4>
            <h4><a href="/product/{{ product.id }}"> نام محصول : {{product.name}} </a></h4>
            <p class="price">
              {% if product.discount_price %}
              <li style="list-style-type: none;"><span class="price-new">قیمت :{{product.discount_price}} تومان</span></li>
              <li style="list-style-type: none;"><span class="price-old">قیمت :{{product.price}} تومان<span class="saving">
                {{ product.save_percent }}%
                </span>
                </span>
                </li>
              {% else %}
              <li style="list-style-type: none;"><span class="price-new">قیمت :{{product.price}} تومان</span></li>
              <li style="list-style-type: none;"><br></li>
              {% endif %}
            </p>
          </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="list-group">
        <h3 class="subtitle">محتوای سفارشی</h3>
        <p>این یک بلاک محتواست. هر نوع محتوایی شامل html، نوشته یا تصویر را میتوانید در آن قرار دهید. </p>
        <p> در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد. </p>
        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
    </div>
    <h3 class="subtitle">جدیدترین</h3>
    <div class="side-item">
        {% for product in latest %}
        <div class="product-thumb clearfix">
        <div class="image"><a href="product.html"><img src="{{ product.miniimage.url }}" alt="کرم مو آقایان" title="کرم مو آقایان" class="img-responsive" /></a></div>
        <div class="caption">
            <h4><a href="product.html">{{product.name}}</a></h4>
            <p class="price"> {{product.price}} تومان </p>
            <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
        </div>
        </div>
        {% endfor %}

    </div>
    </aside>
    <!-- Left Part End-->