.profile-img {
    width: 105px;
    height: 105px;
    border-radius: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.user {
    margin: 10px;
    font-size: 17px;
    text-align: center;
}

.my-panel-title {
    color: #2f4f4f;
    font-size: 18px;
}

.a-tags1 {
    color: #4c5d6b;
    font-size: 15px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    direction: rtl;
}

caption {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

th {
    text-align: center;
    background-color: darkslategray;
    color: lightgray;
    padding: 10px;
}

td {
    padding: 10px;
    text-align: right;
    margin: 10px;
}

.col-one {
    width: 50%;
    font-weight: bold;
}

.col-two {
    font-weight: bold;
}

#edit-btn {
    text-align: center;
    font-weight: bold;
}

.edit-button {
    color: orange;
}

.num {
    text-align: center;
    width: 5%;
    font-weight: bold;
}

.order-num {
    text-align: center;
    font-weight: bold;
}

.order-date {
    text-align: center;
    font-weight: bold;
}

.paying-price {
    text-align: center;
    font-weight: bold;
}

.total-price {
    text-align: center;
    font-weight: bold;
}

.paying-status {
    text-align: center;
    font-weight: bold;
}

.details {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

