{% extends 'base1.html' %}
{% load templatehelpers %}
{% load compare_tag %}
{% load static %}
{% block title %}<title>محصولات</title>{% endblock %}
{% block body %}
<body>
<div class="wrapper-wide">
  <div id="container">
    <div class="container">
      <!-- Breadcrumb Start-->
      <ul class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i></a></li>
        <li><a href="{% url 'product:products' %}">همه محصولات</a></li>
      </ul>
      <!-- Breadcrumb End-->
      <div class="row">
        <!--Left Part Start -->
        {% include 'includes/sidebar.html' %}
        <!--Left Part End -->
        <!--Middle Part Start-->
        <div id="content" class="col-sm-9">
          <h1 class="title">همه محصولات</h1>
          <hr>
          <!-- <h3 class="subtitle">بهبود جستجو</h3>
          <div class="category-list-thumb row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4"> <a href="category.html"><img src="static/image/no_image.jpg" alt="لپ تاپ (6)" /></a> <a href="category.html">لپ تاپ (6)</a> </div>
          </div> -->
          <div class="product-filter">
            <div class="row">
              <div class="col-md-4 col-sm-5">
                <div class="btn-group">
                  <button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="List"><i class="fa fa-th-list"></i></button>
                  <button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip" title="Grid"><i class="fa fa-th"></i></button>
                </div>
                <a href="{% url 'product:compare' %}" id="compare-total">محصولات مقایسه ({{ request.user | compare_product_count }})</a> </div>
              <div class="col-sm-2 text-right">
                <label class="control-label" for="input-sort">مرتب سازی :</label>
              </div>
              <div class="col-md-3 col-sm-2 text-right">
                <!-- {% with params=request.GET.urlencode %}
                <select id="input-sort" class="form-control">
                  <option selected='selected'><a href="{% relative_url 'name' 'order' params %}">20</a></option>
                  <option value="">25</option>
                  <option value="">50</option>
                  <option value="">75</option>
                  <option value="">100</option>
                </select>
                {% endwith %} -->
                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                    پیش فرض
                  </button>
                  <ul class="dropdown-menu">
                    {% with params=request.GET.urlencode %}

                      <li><a href="{% relative_url 'name' 'order' params %}">نام (الف -ی)</a></li>
                      <li><a href="{% relative_url '-name' 'order' params %}">نام (ی -الف)</a></li>
                      <li><a href="{% relative_url 'price' 'order' params %}">قیمت (از کم به زیاد )</a></li>
                      <li><a href="{% relative_url 'price' 'order' params %}">قیمت (از زیاد به کم )</a></li>
                      <li><a href="{% relative_url '-added_date' 'order' params %}">جدیدترین</a></li>
                      <li><a href="{% relative_url 'added_date' 'order' params %}">قدیمی ترین</a></li>
                      

                    {% endwith %}
                  </ul>
                </div>

              </div>
              <div class="col-sm-1 text-right">
                <label class="control-label" for="input-limit">نمایش :</label>
              </div>
              <div class="col-sm-2 text-right">
                <select id="input-limit" class="form-control">
                  <option value="" selected="selected">20</option>
                  <option value="">25</option>
                  <option value="">50</option>
                  <option value="">75</option>
                  <option value="">100</option>
                </select>
              </div>
            </div>
          </div>
          <br />
          <div class="row products-category">
            {% for product in products%}
            <div class="product-layout product-list col-xs-12">
              <div class="product-thumb">
                <div class="image"><a href="{{ product.get_absolute_url }}"><img src="{{ product.miniimage.url }}" alt="{{product.name}}" title="{{product.name}}" class="img-responsive" /></a></div>
                <div>
                  <div class="caption">
                    <h4><a href="{{ product.get_absolute_url }}"> کد محصول : {{product.id}}</a></h4>
                    <h4><a href="{{ product.get_absolute_url }}"> نام محصول : {{product.name}} </a></h4>
                    <p class="description"> توضیحات : {{ product.description }}</p>
                    <p class="price">
                      {% if product.discount_price %}
                      <li style="list-style-type: none;"><span class="price-new">قیمت :{{product.discount_price}} تومان</span></li>
                      <li style="list-style-type: none;"><span class="price-old">قیمت :{{product.price}} تومان</span></li>
                      <span class="saving">
                      {{ product.save_percent }}%
                      </span>
                      {% else %}
                      <li style="list-style-type: none;"><span class="price-new">قیمت :{{product.price}} تومان</span></li>
                      <li style="list-style-type: none;"><br></li>
                      {% endif %}
                      <span class="price-tax">بدون مالیات : 90000 تومان</span>
                    </p>
                  </div>
                  <div class="button-group">
                    <button class="btn-primary" type="button" onClick=""><span>افزودن به سبد</span></button>
                    <div class="add-to-links">
                      <button type="button" data-toggle="tooltip" title="افزودن به علاقه مندی ها" onClick=""><i class="fa fa-heart"></i> <span>افزودن به علاقه مندی ها</span></button>
                      <button type="button" data-toggle="tooltip" title="مقایسه این محصول" onClick=""><i class="fa fa-exchange"></i> <span>مقایسه این محصول</span></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="row">
            <div class="col-sm-6 text-left">
              <ul class="pagination">
                {% for i in page_obj.paginator.page_range %}
                  <li>
                    <a href="{% relative_url i 'page' request.GET.urlencode %}">{{ i }}</a>
                  </li>
                {% endfor %}
              </ul>
              <!-- <ul class="pagination">
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">&gt;</a></li>
                <li><a href="#">&gt;|</a></li>
              </ul> -->
            </div>
            <div class="col-sm-6 text-right">نمایش 1 تا 12 از 15 (مجموع 2 صفحه)</div>
          </div>
        </div>
        <!--Middle Part End -->
      </div>
    </div>
</div>
</body>
{% endblock %}
