{% extends 'base1.html' %}
{% block title %}<title>تماس با ما</title>{% endblock %}
{% block head %}
{% endblock %}
{% block body %}
<div id="container">
  <div class="container">
    <!-- Breadcrumb Start-->
    <ul class="breadcrumb">
      <li><a href="../"><i class="fa fa-home"></i></a></li>
      <li><a href="{% url 'product:contact-us' %}">تماس با ما</a></li>
    </ul>
    <!-- Breadcrumb End-->
    <div class="row">
      <!--Middle Part Start-->
      <div id="content" class="col-sm-9">
        <h1 class="title">تماس با ما</h1>
        <h3 class="subtitle">محل ما</h3>
        <div class="row">
          <div class="mapouter">
            <div class="gmap_canvas"><iframe width="600" height="350" id="gmap_canvas"
                src="https://maps.google.com/maps?q=gorgan&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0"
                scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
          </div>
          <!-- <div id="map"></div> -->
          <br><br>
          <div class="col-sm-3"><strong>آدرس دفتر آنا شاپ</strong><br />
            <address>
              میدان مرکزی،<br />
              خیابان وینگ شماره 22،<br />
              نیویورک،<br />
              ایالات متحده </address>
          </div>
          <div class="col-sm-3"><strong>شماره تلفن</strong>
            <br>09918797376<br />
            <br />
          </div>
          <div class="col-sm-3"> <strong>ساعات کار</strong><br />
            خدمات مشتریان 24x7<br />
            <br />
            <strong>دیدگاه ها</strong><br />
            در اینجا توضیحات دلخواه خود را قرار دهید. فروشگاه چک قبول نمیکند! </div>
        </div>
        <form method="POST" class="form-horizontal">
          <fieldset>
            <h3 class="subtitle">با ما ارتباط برقرار کنید</h3>
            <div class="form-group required">
              <div class="col-md-10 col-sm-9">
                {% csrf_token %}
                {{ form }}
                <script src='https://www.google.com/recaptcha/api.js'></script>
                <div style="padding-top: 5px;" class="g-recaptcha"
                  data-sitekey="6LdyVacZAAAAAHTwTD2uUHMH2xXPLj1OzA9w6GMR"></div>
              </div>
            </div>
          </fieldset>
          <div class="buttons">
            <div class="pull-right">
              <input class="btn btn-primary" type="submit" value="ارسال" />
            </div>
          </div>
        </form>
      </div>
      <!-- <aside id="column-right" class="col-sm-3 hidden-xs">
        <div class="list-group">
          <h2 class="subtitle">محتوای سفارشی</h2>
          <p>این یک بلاک محتواست. هر نوع محتوایی شامل html، نوشته یا تصویر را میتوانید در آن قرار دهید. </p>
          <p> در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان
            مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده
            قرار گیرد. </p>
          <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
        </div>
        <div class="banner owl-carousel">
          <div class="item"> <a href="#"><img src="image/banner/small-banner1-265x350.jpg" alt="small banner"
                class="img-responsive" /></a> </div>
          <div class="item"> <a href="#"><img src="image/banner/small-banner-265x350.jpg" alt="small banner1"
                class="img-responsive" /></a> </div>
        </div>
      </aside> -->
      <!--Middle Part End -->
    </div>
  </div>
</div>
{% endblock %}