{% extends 'base1.html' %}
{% load static %}
{% load ratings %}
{% block title %}<title>Anashop</title>{% endblock %}
{% block body %}
<div id="container">
    <!-- Feature Box Start-->
    <div class="container">
        <div class="custom-feature-box row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="feature-box fbox_1">
                    <div class="title">ارسال رایگان</div>
                    <p>برای خرید های بیش از 100 هزار تومان</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="feature-box fbox_2">
                    <div class="title">ضمانت بازگشت کالا</div>
                    <p>بازگشت کالا تا 24 ساعت پس از خرید</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="feature-box fbox_3">
                    <div class="title">کارت هدیه</div>
                    <p>بهترین هدیه برای عزیزان شما</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="feature-box fbox_4">
                    <div class="title">امتیازات خرید</div>
                    <p>از هر خرید امتیاز کسب کرده و از آن بهره بگیرید</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature Box End-->
    <div class="container">
        <div class="row">
            {% include 'includes/sidebar.html' %}
            <!--Middle Part Start-->
            <div id="content" class="col-sm-9">
                <!-- Slideshow Start-->
                <div class="slideshow single-slider owl-carousel">
                    {%for category in categories%}
                    <div class="item">
                        <a href="{{ category.get_absolute_url }}"><img class="img-responsive"
                                src="{{ category.image.url }}" alt="{{ category.title }}" /></a>
                    </div>
                    {% endfor %}
                </div>
                <!-- Slideshow End-->
                <!-- Featured محصولات Start-->
                <h3 class="subtitle">پیشنهاد شگفت انگیز</h3>
                <div class="owl-carousel product_carousel">
                    {% for product in products %} {% if product.is_featured %}
                    <div class="product-thumb clearfix">
                        <div class="image">
                            <a href="{{ product.get_absolute_url }}"><img src="{{product.miniimage.url}}"
                                    alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a>
                        </div>
                        <div class="caption">
                            <h4><a href="{{ product.get_absolute_url }}"> کد محصول : {{product.id}} </a></h4>
                            <h4><a href="{{ product.get_absolute_url }}"> نام محصول : {{product.name}} </a></h4>
                            <p class="price">
                                {% if product.discount_price %}
                                <li style="list-style-type: none;"><span class="price-new">قیمت
                                        :{{product.discount_price}} تومان</span></li>
                                <li style="list-style-type: none;"><span class="price-old">قیمت :{{product.price}}
                                        تومان</span></li>
                                <span class="saving">
                                    {{ product.save_percent }}%
                                </span> {% else %}
                                <li style="list-style-type: none;"><span class="price-new">قیمت :{{product.price}}
                                        تومان</span></li>
                                <li style="list-style-type: none;"><br></li>
                                {% endif %}
                                <span class="price-tax">بدون مالیات : 90000 تومان</span>
                            </p>
                        </div>
                        <div class="button-group">
                            {% if product.label == 'ناموجود' %}
                            <a class="btn disabled" href="{{ product.get_add_to_cart_url }}"><button class="btn-danger"
                                    type="button" onClick=""><span>ناموجود</span></button></a>
                            {% else %}
                            <a href="{{ product.get_add_to_cart_url }}"><button class="btn-primary"
                                    type="button"><span>افزودن به سبد</span></button></a>
                            {% endif %}
                            <div class="add-to-links">
                                <a href="{{ product.get_add_to_wishlist_url }}"><button type="button"
                                        data-toggle="tooltip" title="افزودن به علاقه مندی ها" onClick=""><i
                                            class="fa fa-heart"></i></button></a>
                                <a href="{{ product.get_add_to_compare_url }}"><button type="button"
                                        data-toggle="tooltip" title="افزودن به مقایسه" onClick=""><i
                                            class="fa fa-exchange"></i></button></a>
                            </div>
                        </div>
                    </div>
                    {% endif %} {% endfor %}
                </div>
                <!-- Featured محصولات End-->
                <!-- Banner Start-->
                <div class="marketshop-banner">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <a href="#"><img src="static/image/banner/sample-banner-3-400x200.jpg" alt="بنر نمونه 3"
                                    title="بنر نمونه 3" /></a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <a href="#"><img src="{% static 'image/banner/112.png' %}" alt="بنر نمونه"
                                    title="بنر نمونه" /></a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <a href="#"><img src="{% static 'image/banner/special.jpeg' %}" alt="بنر نمونه 2"
                                    title="بنر نمونه 2" /></a>
                        </div>
                    </div>
                </div>
                <!-- Banner End-->
                <!-- دسته ها محصولات Slider Start-->
                {% for category in categories %}
                <h3 class="subtitle"> {{ category.title }}- <a class="viewall"
                        href="{{ category.get_absolute_url }}">نمایش همه</a></h3>
                <div class="owl-carousel latest_category_carousel">
                    {% for product in category.products.all %}

                    <div class="product-thumb">
                        <div class="image">
                            <a href="{{ product.get_absolute_url }}"><img src="{{ product.miniimage.url }}"
                                    alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a>
                        </div>
                        <div class="caption">
                            <h4><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h4>
                            {% if product.discount_price %}
                            <p class="price-new"> {{ product.discount_price }} تومان</p>
                            <p class="price-old"> {{ product.price }} تومان</p>
                            <span class="saving">
                                {{ product.save_percent }}%
                            </span>
                            {% else %}
                            <p class="price"> {{ product.price }} تومان</p>
                            {% endif %}
                            <div class="rating">{% ratings product %} </div>
                        </div>

                        <div class="button-group">
                            {% if product.label == 'ناموجود' %}
                            <a class="btn disabled" href="{{ product.get_add_to_cart_url }}"><button class="btn-danger"
                                    type="button" onClick=""><span>ناموجود</span></button></a>
                            {% else %}
                            <a href="{{ product.get_add_to_cart_url }}"><button class="btn-primary"
                                    type="button"><span>افزودن به سبد</span></button></a>
                            {% endif %}
                            <div class="add-to-links">
                                <a href="{{ product.get_add_to_wishlist_url }}"><button type="button"
                                        data-toggle="tooltip" title="افزودن به علاقه مندی ها" onClick=""><i
                                            class="fa fa-heart"></i></button></a>
                                <a href="{{ product.get_add_to_compare_url }}"><button type="button"
                                        data-toggle="tooltip" title="افزودن به مقایسه" onClick=""><i
                                            class="fa fa-exchange"></i></button></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
                {% endfor %}
                <h3 class="subtitle">پربازدیدترین محصولات</h3>
                <div class="owl-carousel product_carousel">
                    {% for product in popular_products %}
                    <div class="product-thumb clearfix">
                        <div class="image">
                            <a href="{{ product.get_absolute_url }}"><img src="{{product.miniimage.url}}"
                                    alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a>
                        </div>
                        <div class="caption">
                            <h4><a href="{{ product.get_absolute_url }}"> کد محصول : {{product.id}} </a></h4>
                            <h4><a href="{{ product.get_absolute_url }}"> نام محصول : {{product.name}} </a></h4>
                            <p class="price">
                                {% if product.discount_price %}
                                <li style="list-style-type: none;"><span class="price-new">قیمت
                                        :{{product.discount_price}} تومان</span></li>
                                <li style="list-style-type: none;"><span class="price-old">قیمت :{{product.price}}
                                        تومان</span></li>
                                <span class="saving">
                                    {{ product.save_percent }}%
                                </span> {% else %}
                                <li style="list-style-type: none;"><span class="price-new">قیمت :{{product.price}}
                                        تومان</span></li>
                                <li style="list-style-type: none;"><br></li>
                                {% endif %}
                                <span class="price-tax">بدون مالیات : 90000 تومان</span>
                            </p>
                        </div>
                        <div class="button-group">
                            {% if product.label == 'ناموجود' %}
                            <a class="btn disabled" href="{{ product.get_add_to_cart_url }}"><button class="btn-danger"
                                    type="button" onClick=""><span>ناموجود</span></button></a>
                            {% else %}
                            <a href="{{ product.get_add_to_cart_url }}"><button class="btn-primary"
                                    type="button"><span>افزودن به سبد</span></button></a>
                            {% endif %}
                            <div class="add-to-links">
                                <a href="{{ product.get_add_to_wishlist_url }}"><button type="button"
                                        data-toggle="tooltip" title="افزودن به علاقه مندی ها" onClick=""><i
                                            class="fa fa-heart"></i></button></a>
                                <a href="{{ product.get_add_to_compare_url }}"><button type="button"
                                        data-toggle="tooltip" title="افزودن به مقایسه" onClick=""><i
                                            class="fa fa-exchange"></i></button></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- دسته ها محصولات Slider End-->
                <!-- Brand Logo Carousel Start-->
                <h3 class="subtitle">تازه های مجله آنا - <a class="viewall" href="{% url 'blog:blog' %}">نمایش همه</a>
                </h3>
                <!-- Slideshow Start-->
                <div class="slideshow single-slider owl-carousel">
                    {% for i in blogs %}
                    <div class="item">
                        <a href="{% url 'blog:blog-detail' pk=i.id %}"><img class="img-responsive"
                                src="{{ i.blog_image.url }}" alt="Card image cap"></a>
                        <h3>{{ i.title }}</h3>
                        <p> {{ i.short_desc }} </p>
                        <p><small class="text-muted">{{ i.jalali_date}}</small></p>
                    </div>
                    {% endfor %}
                </div>
                <!-- Brand Logo Carousel End -->
            </div>
            <!--Middle Part End-->
        </div>
    </div>
</div>
{% endblock body %}