{% extends 'base1.html' %} {% load static %}
{% block title %}<title>Anashop</title>{% endblock %}
{% block body %}
<div id="container">
    <!-- Feature Box Start-->
    <div class="container">
        <div class="custom-feature-box row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="feature-box fbox_1">
                    <div class="title">ارسال رایگان</div>
                    <p>برای خرید های بیش از 100 هزار تومان</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="feature-box fbox_2">
                    <div class="title">پس فرستادن رایگان</div>
                    <p>بازگشت کالا تا 24 ساعت پس از خرید</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="feature-box fbox_3">
                    <div class="title">کارت هدیه</div>
                    <p>بهترین هدیه برای عزیزان شما</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="feature-box fbox_4">
                    <div class="title">امتیازات خرید</div>
                    <p>از هر خرید امتیاز کسب کرده و از آن بهره بگیرید</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature Box End-->
    <div class="container">
        <div class="row">
            {% include 'includes/sidebar.html' %}
            <!--Middle Part Start-->
            <div id="content" class="col-sm-9">
                <!-- Slideshow Start-->
                <div class="slideshow single-slider owl-carousel">
                    <div class="item">
                        <a href="{{ category.get_absolute_url }}"><img class="img-responsive" src="static/image/slider/k.jpg" alt="banner 1" /></a>
                    </div>
                    <div class="item">
                        <a href="{{ category.get_absolute_url }}"><img class="img-responsive" src="static/image/slider/s.jpg" alt="banner 3" /></a>
                    </div>
                    <div class="item">
                        <a href="{{ category.get_absolute_url }}"><img class="img-responsive" src="static/image/slider/f.jpg" alt="banner 2" /></a>
                    </div>
                </div>
                <!-- Slideshow End-->
                <!-- Featured محصولات Start-->
                <h3 class="subtitle">ویژه</h3>
                <div class="owl-carousel product_carousel">
                    {% for product in products %} {% if product.featured %}
                    <div class="product-thumb clearfix">
                        <div class="image">
                            <a href="{{ product.get_absolute_url }}"><img src="{{product.miniimage.url}}" alt="تی شرت کتان مردانه" title="تی شرت کتان مردانه" class="img-responsive" /></a>
                        </div>
                        <div class="caption">
                            <h4><a href="{{ product.get_absolute_url }}"> کد محصول : {{product.id}} </a></h4>
                            <h4><a href="{{ product.get_absolute_url }}"> نام محصول : {{product.name}} </a></h4>
                            <p class="price">
                                {% if product.discount_price %}
                                <li style="list-style-type: none;"><span class="price-new">قیمت :{{product.discount_price}} تومان</span></li>
                                <li style="list-style-type: none;"><span class="price-old">قیمت :{{product.price}} تومان</span></li>
                                <span class="saving">
                                {{ product.save_percent }}%
                                </span> {% else %}
                                <li style="list-style-type: none;"><span class="price-new">قیمت :{{product.price}} تومان</span></li>
                                <li style="list-style-type: none;"><br></li>
                                {% endif %}
                                <span class="price-tax">بدون مالیات : 90000 تومان</span>
                            </p>
                        </div>
                        <div class="button-group">
                            {% if product.label == 'ناموجود' %}
                            <a class="btn disabled" href="{{ product.get_add_to_cart_url }}"><button class="btn-danger" type="button" onClick=""><span>ناموجود</span></button></a>
                            {% else %}
                            <a href="{{ product.get_add_to_cart_url }}"><button class="btn-primary" type="button"><span>افزودن به سبد</span></button></a>
                            {% endif %}
                            <div class="add-to-links">
                                <a href="{{ product.get_add_to_wishlist_url }}"><button type="button" data-toggle="tooltip" title="Add to Wish List" onClick=""><i class="fa fa-heart"></i></button></a>
                                <a href="{{ product.get_add_to_compare_url }}"><button type="button" data-toggle="tooltip" title="مقایسه this محصولات" onClick=""><i class="fa fa-exchange"></i></button></a>
                            </div>
                        </div>
                    </div>
                    {% endif %} {% endfor %}
                </div>
                <!-- Featured محصولات End-->
                <!-- Banner Start-->
                <div class="marketshop-banner">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <a href="#"><img src="static/image/banner/sample-banner-3-400x200.jpg" alt="بنر نمونه 3" title="بنر نمونه 3" /></a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <a href="#"><img src="static/image/banner/sample-banner-1-400x200.jpg" alt="بنر نمونه" title="بنر نمونه" /></a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <a href="#"><img src="static/image/banner/sample-banner-2-400x200.jpg" alt="بنر نمونه 2" title="بنر نمونه 2" /></a>
                        </div>
                    </div>
                </div>
                <!-- Banner End-->
                <!-- دسته ها محصولات Slider Start-->
                {% for category in categories %}
                <h3 class="subtitle"> {{ category.title }}- <a class="viewall" href="{{ category.get_absolute_url }}">نمایش همه</a></h3>
                <div class="owl-carousel latest_category_carousel">
                    {% for product in category.products.all %}

                    <div class="product-thumb">
                        <div class="image">
                            <a href="{{ product.get_absolute_url }}"><img src="{{ product.miniimage.url }}" alt="کرم مو آقایان" title="کرم مو آقایان" class="img-responsive" /></a>
                        </div>
                        <div class="caption">
                            <h4><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h4>
                            {% if product.discount_price %}
                            <p class="price-new"> {{ product.discount_price }} تومان</p>
                            <p class="price-old"> {{ product.price }} تومان</p>
                            <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                            <span class="saving">
                                {{ product.save_percent }}%
                            </span>

                            {% else %}
                            <p class="price"> {{ product.price }} تومان</p>
                            <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                            {% endif %}
                        </div>
                        
                        <div class="button-group">
                            {% if product.label == 'ناموجود' %}
                            <a class="btn disabled" href="{{ product.get_add_to_cart_url }}"><button class="btn-danger" type="button" onClick=""><span>ناموجود</span></button></a>
                            {% else %}
                            <a href="{{ product.get_add_to_cart_url }}"><button class="btn-primary" type="button"><span>افزودن به سبد</span></button></a>
                            {% endif %}
                            <div class="add-to-links">
                                <a href="{{ product.get_add_to_wishlist_url }}"><button type="button" data-toggle="tooltip" title="افزودن به علاقه مندی" onClick=""><i class="fa fa-heart"></i></button></a>
                                <a href="{{ product.get_add_to_compare_url }}"><button type="button" data-toggle="tooltip" title="افزودن به مقایسه" onClick=""><i class="fa fa-exchange"></i></button></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
                {% endfor %}
                <!-- دسته ها محصولات Slider End-->
                <!-- Brand Logo Carousel Start-->
                <h3 class="subtitle">تازه های مجله آنا - <a class="viewall" href="{% url 'product:products' %}">نمایش همه</a></h3>
                <!-- Slideshow Start-->
                <div class="slideshow single-slider owl-carousel">
                    <div class="item">
                        <div class="card mb-3">
                            <img class="img-responsive" src="static/image/product/2.png" alt="Card image cap">
                            <div class="card-body">
                                <h3 class="card-title">قلمکاری در ایران</h3>
                                <p class="card-text">قلمکاری (یا چیت سازی) هنر چاپ یا نقش زدن روی پارچه است. قلمکاری واژه‌ای فارسی است که در زبان هندی به عاریت گرفته شده و به‌طور لغوی از دو واژه قلم و کاری تشکیل شده و معنی آن، کار هنری است که با قلم انجام می‌شود.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Brand Logo Carousel End -->
            </div>
            <!--Middle Part End-->
        </div>
    </div>
</div>
{% endblock body %}