{% extends 'base1.html' %}
{% load static %}
{% load compare_tag %}

{% block body %}
<div id="container">
  <div class="container">
    <!-- Breadcrumb Start-->
    <ul class="breadcrumb">
      <li><a href="/"><i class="fa fa-home"></i></a></li>
      <li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
      <li><a href="{{ sub.get_absolute_url }}">{{ subcategory.title }}</a></li>
    </ul>
    <!-- Breadcrumb End-->
    <div class="row">
      <!--Left Part Start -->
      {% include 'includes/sidebar.html' %}
      <!--Left Part End -->
      <!--Middle Part Start-->
      <div id="content" class="col-sm-9">
        <h1 class="title">{{subcategory.title}}</h1>
        <hr>
        <!-- <h3 class="subtitle">بهبود جستجو</h3>
          <div class="category-list-thumb row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4"> <a href="category.html"><img src="static/image/no_image.jpg" alt="لپ تاپ (6)" /></a> <a href="category.html">لپ تاپ (6)</a> </div>
          </div> -->
        <div class="product-filter">
          <div class="row">
            <div class="col-md-4 col-sm-5">
              <div class="btn-group">
                <button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="List"><i
                    class="fa fa-th-list"></i></button>
                <button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip" title="Grid"><i
                    class="fa fa-th"></i></button>
              </div>
              <a href="{% url 'product:compare' %}" id="compare-total">محصولات مقایسه
                ({{ request.user | compare_product_count }})</a>
            </div>
            <form id="FORM_ID" method="GET">
              <div class="col-sm-2 text-right">
                <label class="control-label" for="input-sort">مرتب سازی :</label>
              </div>
              <div class="col-md-3 col-sm-3 text-right">
                <select onchange="this.form.submit()" name="order" class="form-control">
                  <option value="name" {% if order == "name" %} selected {% endif %}>پیشفرض</option>
                  <option value="name" {% if order == "name" %} selected {% endif %}>نام (الف - ی)</option>
                  <option value="-name" {% if order == "-name" %} selected {% endif %}>نام (ی - الف)</option>
                  <option value="price" {% if order == "price" %} selected {% endif %}>قیمت (کم به زیاد)</option>
                  </option>
                  <option value="-price" {% if order == "-price" %} selected {% endif %}>قیمت (زیاد به کم)</option>
                  <option value="-added_date" {% if order == "-added_date" %} selected {% endif %}>جدیدترین</option>
                  <option value="added_date" {% if order == "added_date" %} selected {% endif %}>قدیمی ترین</option>
                </select>
              </div>
            </form>
            <div class="col-sm-1 text-right">
              <label class="control-label" for="input-limit">نمایش :</label>
            </div>
            <div class="col-sm-2 text-right">
              <select id="input-limit" class="form-control">
                <option value="" selected="selected">20</option>
                <option value="">25</option>
                <option value="">50</option>
                <option value="">75</option>
                <option value="">100</option>
              </select>
            </div>
          </div>
        </div>
        <br />
        <div class="row products-category">
          {% for item in page_obj %}
          <div class="product-layout product-list col-xs-12">
            <div class="product-thumb">
              <div class="image"><a href="{{ item.get_absolute_url }}"><img src="{{ item.miniimage.url }}"
                    alt="{{product.name}}" title="{{product.name}}" class="img-responsive" /></a></div>
              <div>
                <div class="caption">
                  <h4><a href="{{ item.get_absolute_url }}"> کد محصول : {{item.id}}</a></h4>
                  <h4><a href="{{ item.get_absolute_url }}"> نام محصول : {{item.name}} </a></h4>
                  <p class="description"> توضیحات : {{ item.description }}</p>
                  <p class="price">
                    {% if item.discount_price %}
                    <li style="list-style-type: none;"><span class="price-new">قیمت :{{item.discount_price}}
                        تومان</span></li>
                    <li style="list-style-type: none;"><span class="price-old">قیمت :{{item.price}} تومان</span></li>
                    <span class="saving">
                      {{ item.save_percent }}%
                    </span>
                    {% else %}
                    <li style="list-style-type: none;"><span class="price-new">قیمت :{{item.price}} تومان</span></li>
                    <li style="list-style-type: none;"><br></li>
                    {% endif %}
                    <span class="price-tax">بدون مالیات : 90000 تومان</span>
                  </p>
                </div>
                <div class="button-group">
                  {% if item.label == 'ناموجود' %}
                  <a class="btn disabled" href="{{ item.get_add_to_cart_url }}"><button class="btn-danger"
                          type="button" onClick=""><span>ناموجود</span></button></a>
                  {% else %}
                  <a href="{{ item.get_add_to_cart_url }}"><button class="btn-primary"
                          type="button"><span>افزودن به سبد</span></button></a>
                  {% endif %}
                  <div class="add-to-links">
                      <a href="{{ item.get_add_to_wishlist_url }}"><button type="button"
                              data-toggle="tooltip" title="افزودن به علاقه مندی ها" onClick=""><i
                                  class="fa fa-heart"></i></button></a>
                      <a href="{{ item.get_add_to_compare_url }}"><button type="button"
                              data-toggle="tooltip" title="افزودن به مقایسه" onClick=""><i
                                  class="fa fa-exchange"></i></button></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="row">
          <div class="col-sm-6 text-left">
            <ul class="pagination">
              {% if page_obj.has_previous %}
              <li class="page-item"><a class="page-link" href="?page=1">اولین</a></li>
              <li class="page-item"><a class="page-link"
                  href="?page={{ page_obj.previous_page_number }}&?order={{order}}">{{ page_obj.previous_page_number }}</a>
              </li>
              {% endif %}
              <li class="page-item active"><a class="page-link">{{ page_obj.number }}</a></li>
              {% if page_obj.has_next %}
              <li class="page-item"><a class="page-link"
                  href="?page={{ page_obj.next_page_number }}&?order={{order}}">{{ page_obj.next_page_number }}</a></li>
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">آخرین</a></li>
              {% endif %}
            </ul>
          </div>
          <!-- <div class="col-sm-6 text-right">نمایش 1 تا 12 از 15 (مجموع 2 صفحه)</div> -->
        </div>
      </div>
      <!--Middle Part End -->
    </div>
  </div>
</div>
{% endblock %}