{% extends 'base1.html' %} {% load static %} {% load jalali_tags %} {% block head %}
<link href="{% static 'css/profile_page_styles.css' %}" rel="stylesheet">
<link href="{% static 'css/responsivetable.css' %}" rel="stylesheet"> {% endblock %} {% block content %}
<section>
    <div class="container">
        <div class="row" style="margin-top: 40px;">
            <div class="col-sm-3">
                <div>
                    <a data-toggle="modal" data-target="#imagemodal">
                        <img src="{{ request.user.userprofile.avatar.url }}" alt="image" class="profile-img"></a>
                    <p class="user">{{ request.user.userprofile.first_name }} {{ request.user.userprofile.last_name }}</p>

                    {% include 'profile_page_components/profile_sidebar_component.html' %}

                </div>
            </div>

            <div class="col-sm-9">
                <table class="mytable">
                    <caption>اطلاعات شخصی</caption>
                    <tr>
                        <td class="rtd">نام و نام خانوادگی : <span style="color:  gray;">{{ request.user.userprofile.first_name }} {{ request.user.userprofile.last_name }} </span>
                            <a data-toggle="modal" data-target="#namemodal"><i class="fa fa-edit" style="font-size: 18px;float: left;"></i></a>
                        </td>
                        <td class="ltd">ایمیل : <span>{{ request.user.userprofile.email }}</span>
                            <a data-toggle="modal" data-target="#emailmodal"><i class="fa fa-edit" style="font-size: 18px;float: left;"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="rtd">شماره تلفن همراه : <span>
                                {% if request.user.userprofile.phone_number is None %} &nbsp; {% else %}
                                    {{ request.user.userprofile.phone_number }} {% endif %} </span>
                            <a data-toggle="modal" data-target="#phonemodal"><i class="fa fa-edit" style="font-size: 18px;float: left;"></i></a>

                        </td>

                        <td style="border-left: none;">تاریخ تولد : <span>
                                {% if request.user.userprofile.jalali_date is None %} &nbsp; {% else %}
                                    {{ request.user.userprofile.jalali_date }}{% endif %}</span>
                            <a data-toggle="modal" data-target="#birthdatemodal"><i class="fa fa-edit" style="font-size: 18px;float: left;"></i></a>

                        </td>
                    </tr>
                    <tr style="border-bottom: none;">
                        <td class="rtd">شغل : <span>
                                {% if request.user.userprofile.job is None %}  - {% else %}
                                    {{ request.user.userprofile.job }} {% endif %} </span>
                            <a data-toggle="modal" data-target="#jobmodal"><i class="fa fa-edit" style="font-size: 18px;float: left;"></i></a>

                        </td>
                        <td class="ltd">شماره کارت بانکی : <span>
                                {% if request.user.userprofile.credit_card is None %} &nbsp; {% else %}
                                    {{ request.user.userprofile.credit_card }} {% endif %} </span>
                            <a data-toggle="modal" data-target="#cardmodal"><i class="fa fa-edit" style="font-size: 18px;float: left;"></i></a>

                        </td>
                    </tr>
                </table>
            </div>
        </div>
        {% include 'profile_page_components/usermodal.html' %}
    </div>
</section>
{% endblock %}