{% extends 'base1.html' %}
{% load static %}

{% block head %}
    <link href="{% static 'css/profile_page_styles.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="row" style="margin-top: 40px;">
                <div class="col-sm-3">
                    <div>
                        <img src="{{ request.user.userprofile.avatar.url }}" alt="image" class="profile-img">
                        <p class="user">{{ request.user.userprofile.first_name }} {{ request.user.userprofile.last_name }}</p>
    
                        {% include 'profile_page_components/profile_sidebar_component.html' %}
    
                    </div>
                </div>


                <div class="col-sm-9">
                    <table>
                        <caption style="border-bottom: 2px solid red;max-width: 50px;">نظرات</caption>
                        {% for comment in comments %}
                        <tr>
                            <td>
                                <img style="max-block-size: 90px;" src="{{ comment.product.miniimage.url }}">
                            </td>
                            <td style="text-align: end;">
                                {% if comment.approved %}
                                <span class="label label-success">تایید شده</span>  
                                {% else %}
                                <span class="label label-danger">تایید نشده</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="padding-right: 120px;">
                                {{ comment.message }}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}