<aside id="column-left" class="col-sm-3 hidden-xs">
    <h3 class="subtitle">دسته ها</h3>
    <div class="box-category">
        <ul id="cat_accordion">
            {% for category in categories %}
            {% url 'product:category' pk=category.id slug=category.slug as the_url %}
            {% if request.get_full_path == the_url %}
            <li><a class="active" href="{{ category.get_absolute_url }}">{{ category.title }}</a> <span
                    class="down"></span>
                <ul>
                    {% for sub in category.subcategory.all %}
                    <li><a href="{{ sub.get_absolute_url }}">{{ sub.title }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            {% else %}
            <li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a> <span
                    class="down"></span>
                <ul>
                    {% for sub in category.subcategory.all %}
                    <li><a href="{{ sub.get_absolute_url }}">{{ sub.title }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    <h3 class="subtitle">جدیدترین مطالب</h3>
    <div class="side-item">
        {% for blog in blogs %}
        <div class="block-21 mb-4 d-flex">
            <a class="blog-img mr-4" style="background-image: url({{ blog.blog_image.url }});"></a>
            <div class="text">
                <h3 class="heading"><a href="#">{{ blog.title }}</a></h3>
                <div class="meta">
                    <div><a href="#"><span class="fa fa-calendar"
                                aria-hidden="true"></span>{{ blog.jalali_date }}</a></div>
                    <div><a href="#"><span class="fa fa-user"
                                aria-hidden="true"></span>{{ blog.composer }}</a></div>
                    <div><a href="#"><span class="fa fa-comment" aria-hidden="true"></span> ۱۹</a></div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Archive -->
    <h4 class="subtitle">آرشیو مطالب</h4>
    <div class="side-item">
        <ul>
            <li class="flex-sb-m">
                <a href="#" class="s-text13 p-t-5 p-b-5">
                    تیر ۹۹
                </a>

                <span class="s-text13">
                    (۱)
                </span>
            </li>
        </ul>
    </div>
    <h3 class="subtitle">تگ ها</h3>
    <div class="tagcloud">
        {% for tag in object.tags.all %}
        <a href="#" class="tag-cloud-link">{{ tag.name }}</a>
        {% endfor %}
    </div>
</aside>