<div class="panel-group category-products" id="accordian"><!--category-productsr-->


    <div class="panel panel-default">
        <div class="panel-heading">
            <h4><a href="{% url 'userprofile:userprofile' %}" class="a-tags1"><i class='fa fa-user my-panel-title'></i>حساب کاربری</a></h4>
            <h4><a href="{% url 'userprofile:user-orders' %}" class="a-tags1"><i class='fa fa-shopping-cart my-panel-title'></i> سفارش های من</a></h4>
            <h4><a href="{% url 'userprofile:user-comments' %}" class="a-tags1"><i class='fa fa-comments-o my-panel-title' style='font-size:18px'></i> نظرات</a></h4>
            <h4><a href="{% url 'userprofile:user-addresses' %}" class="a-tags1"><i class='fa fa-map-marker my-panel-title' style='font-size:18px'></i> آدرس ها</a></h4>
            <h4><a href="" class="a-tags1"><i class='fa fa-gift my-panel-title' style='font-size:18px'></i> کارت های هدیه</a></h4>
            <h4><a href="{% url 'product:wishlist' %}" class="a-tags1"><i class='fa fa-heart-o my-panel-title' style='font-size:18px'></i> لیست علاقه مندی</a></h4>
            <h4><a href="" class="a-tags1"><i class='fa fa-user my-panel-title' style='font-size:18px'></i> ویرایش اطلاعات حساب کاربری</a></h4>
            <h4><a href="#" class="a-tags1"><i class='fa fa-key my-panel-title' style='font-size:18px'></i> تغییر کلمه عبور</a></h4>
            <h4><a href="#" class="a-tags1" style="color: brown;"><i class='fa fa-sign-out my-panel-title' style='font-size:18px;color: brown;'></i> خروج</a></h4>
        </div>
    </div>



</div><!--/category-products-->